:root {
    --main-bg-color: #212832;
    --primary-color:#eee;
    --secondary-color: #212832;
    --accent-color:#fe5722;

    /* font */
    --base-font-size: 16rem;

    /* padding & margin*/
    --base-space: 1rem;


  }

  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: var(--base-space);
  }

*, :after, :before {
    box-sizing: border-box;
    margin: 0;
    
}


/* grid */
/* .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    
  }
  
  .item1 {
    grid-row-start: 1;
    grid-row-end: 1;
  }

  .col-item{
    grid-column-start: 1;
    grid-column-end: 3;
  } */

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary-color);
}

footer, nav, .bg-dark{
    background-color: var(--main-bg-color);
}

nav{
    position: absolute;
    z-index: 10;
    width: 100%;
    
}


a{
    text-decoration: none;
    color: black;
}

.text-white{
    color: var(--primary-color);
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.border-right{
    border-right: solid;
    border-color: var(--primary-color);
}

.flex-center{
    justify-content:center;
}

.flex-between{
    justify-content: space-between;
}

.flex{
    display: flex;
}

.mb-0{
    margin-bottom: 0;
}

.m-all{
    margin: var(--base-space);
}

.mr-0{
    margin-right: 0;
}



.ml-0{
    margin-left: 0;
}

.ml{
    margin-left: var(--base-space);
}
.ml-4{
    margin-left: 4rem;
}

.mt-4{
    margin-top:4rem;
}

.mr{
    margin-right: var(--base-space);
}

.mb-2{
    margin-bottom:2rem;
}
.mb-4{
    margin-bottom:4rem;
}

.flex-col{
    flex-direction: column;
}

.h-full{
    height:100vh;
}

.h-fit{
    height: 100%;
}

.w-full{
    width:100%;
}

.self-center{
    align-self: center;
}

.align-left{
    align-items: start;
}

.align-center{
    align-items: center;
}


.padding{
    padding: .5rem;
}

.pr-1{
    padding-right: 1rem;
}
.pl-1{
    padding-left: 1rem;
}


img {
    object-fit: cover;
    }

.img-shadow:after {
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #000 100%);
    content: '';
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity: 0.8;
    border-radius: 1rem;
  }

.bg-img{
    height: 200px;
    width: 100%;
}

.bg-img-sm{
    height: 100px;
    width: 60%;
}


.border-round{
    border-radius: 1rem;
}

.container {
    position: relative;
}

.text-over-img{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.logo-main{
    width: 150px;
}

.logo-footer{
    width: 100px;
}

#col-berita{
    display:flex;
}

#col-berita div:nth-of-type(1) {flex: 4;}
#col-berita div:nth-of-type(2) {flex: 3;}
#col-berita div:nth-of-type(3) {flex: 4;}

#col-article div:nth-of-type(1) {flex-grow: 5;}

#col-article aside:nth-of-type(2) {flex-grow: 1;}

/* #aside-title div:nth-of-type(1){
    flex:1;
} */


#copyright{
    color: var(--primary-color);
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 1rem;
}

ul.pagination li a.active {
    background-color: var(--accent-color);
    color: white;
    border-radius: 1rem;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

.t-hover:hover:not(.active) {
    color: var(--main-bg-color);
    /* font-weight: 700; */
    border-radius: 1rem;
    padding: .5rem 1rem .5rem 1rem;
    background-color: #ddd;
}

form {
    position: relative;
    background: var(--primary-color);
    border-radius: 1rem;
  }

  input[type="search"] {
   
    width: 100%;
    height: 64px;
    background: var(--primary-color);
    padding: 0 1.6rem;
    border-radius: 1rem;
    appearance: none; /*for iOS input[type="search"] roundedness issue. border-radius alone doesn't work*/
    /* transition: all var(--dur) var(--bez); */
    z-index: 1;
    position: relative;
  }


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }

    nav > ul{
        display: none;
    }
}